transformers
tokenizers
datasets[apache-beam]  # This required python version 3.9
# for getting memory stats
psutil
# for working with larger than memory data
pyarrow
duckdb

# might not need those next ones for deployment
# matplotlib
# jupyter

